@model IEnumerable<New_OnlineTaxibooking.DAL.Booking>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Booking details</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cust_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cust_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Prod_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cust_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cust_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Prod_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BK_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.BK_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BK_Id })
        </td>
    </tr>
}

</table>
