@model New_OnlineTaxibooking.DAL.Product
@{ Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Prod_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prod_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prod_Disc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prod_Disc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prod_Pic)
        </dt>

        <dd>
            <img src="@Url.Content(Model.Prod_Pic)" width="50px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Cat_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Cat_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Prod_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
